*{padding: 0;
    margin: 0;
  
    box-sizing: border-box;
  }
  
  :root {
    --cor-principal: rgb(7, 9, 148);
    --cor-secundaria: rgb(25, 80, 197);
  }
  
  header {
    width: 100%;
    height: 100px;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;

  }
  
  header h1{
    color: var(--cor-secundaria);
  }
  
  header a{
    color: var(--cor-secundaria);
    font-size: 22px;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 900;
  }
  
  .inicio {
    width: 100%;
    height: 600px;
    padding-top: 80px;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .inicio  classh1{
    font-size: 60px;
  }
  
  .inicio h2{
    color: var(--cor-principal);
    font-size: 80px;
  }
  
  .inicio p{
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .inicio a{
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
    text-decoration: none;
    padding: 10px;
  }
  
  .inicio img{
    border-radius: 10%;
  }
  
  .sobre {
    width: 100%;
    height: 600px;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-evenly;
    align-items: center
  }
  
  .texto-sobre{
    width: 500px;
    color: var(--cor-principal);
    font-size: 30px;
  }
  
  .sobre h1{
    color: var(--cor-principal);
    font-size: 60px;
    margin-bottom:30px;
  }
  
  .sobre h2{
    color: var(--cor-secundaria);
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .habilidade{
    font-size: 22px;
    font-weight: 100v;
    margin-bottom: 10px;
  }
  
  .sobre a{
    text-decoration: none;
    background-color: var(--cor-secundaria);
    color: rgb(0, 0, 0);
    padding: 10px;
  }
  
  
  
  
  
  footer {
    width: 100%;
    height: 20vh;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer p{
    font-size: 20px;
    color: var(--cor-secundaria);
  }
  img{
     width: 200px;
  }
  
  .habilidade{
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    
    font-size: 50px;
    height: 100px;
    margin: 0;
  }
  .habilidades{
    font-size: 30px;
  
    background-color: var(--cor-secundaria);
color: var(--cor-principal);

    
    
  }
  .sites{

    background-color:var(--cor-secundaria);
    font-size: 25px;
    display:flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    height: 100px;

  }
  .projetos{
color: var(--cor-principal);
font-size: 60px;
margin-right: 40px;
  }
  
#contador{
margin-right: 60px;
}
.tarefas{
  margin-right: 19px;
}
.começo{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.projeto{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.eu{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.ajuda{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.eliti{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: black;
  
    
  
  
}
.eliti:hover{
  background-color: rgb(9, 2, 105);
  border-radius: 20px;
}


.ajuda:hover{
  background-color: rgb(9, 2, 105);
  border-radius: 10px;
}

.eu:hover{
  background-color: rgb(9, 2, 105);
  border-radius: 10px;
}

.projeto:hover{
  background-color: rgb(9, 2, 105);
  border-radius: 10px;
}

.começo:hover{
  background-color: rgb(9, 2, 105);
  border-radius: 10px;

}


